<h3>{{model.name}}</h3>
<form {{action 'save' model on='submit'}}>
  <div class="row">
    <div class="columns small-12">
      <label>Name: {{input value=model.name}}</label>
    </div>
  </div>
  <div class="row">
    <label class="columns small-12 medium-6">
      Summary.
      {{textarea value=model.summary rows='3'}}
    </label>
    <label class="columns small-12 medium-6">
      Description. Markdown supported.
      {{textarea value=model.description rows='9'}}
    </label>
    <label class="columns small-12">
      Startups
      {{ember-selectize
        multiple=true
        selection=model.startups
        content=startups
        sortField='name:asc'
        optionValuePath='content.id'
        optionLabelPath='content.name'
      }}
    </label>
    <label class="columns small-12">
      Related technologies
      {{ember-selectize
        multiple=true
        selection=model.techs
        content=techs
        sortField='name:asc'
        optionValuePath='content.id'
        optionLabelPath='content.name'
      }}
    </label>
  </div>
  <h4>Impact</h4>
  <div class="row">
    <label class="columns small-4 medium-2 left">
      Banking: {{input type='number' min='1' max='5' step='1' value=model.impactBanking}}
    </label>
    <label class="columns small-4 medium-2 left">
      Education: {{input type='number' min='1' max='5' step='1' value=model.impactEducation}}
    </label>
    <label class="columns small-4 medium-2 left">
      Entertainment: {{input type='number' min='1' max='5' step='1' value=model.impactEntertainment}}
    </label>
    <label class="columns small-4 medium-2 left">
      Food: {{input type='number' min='1' max='5' step='1' value=model.impactFood}}
    </label>
    <label class="columns small-4 medium-2 left">
      Housing: {{input type='number' min='1' max='5' step='1' value=model.impactHousing}}
    </label>
    <label class="columns small-4 medium-2 left">
      Media: {{input type='number' min='1' max='5' step='1' value=model.impactMedia}}
    </label>
    <label class="columns small-4 medium-2 left">
      Mobile: {{input type='number' min='1' max='5' step='1' value=model.impactMobile}}
    </label>
    <label class="columns small-4 medium-2 left">
      Policy: {{input type='number' min='1' max='5' step='1' value=model.impactPolicy}}
    </label>
    <label class="columns small-4 medium-2 left">
      Retail: {{input type='number' min='1' max='5' step='1' value=model.impactRetail}}
    </label>
    <label class="columns small-4 medium-2 left">
      Robotics: {{input type='number' min='1' max='5' step='1' value=model.impactRobotics}}
    </label>
    <label class="columns small-4 medium-2 left">
      Sustainability: {{input type='number' min='1' max='5' step='1' value=model.impactSustainability}}
    </label>
    <label class="columns small-4 medium-2 left">
      Transportation: {{input type='number' min='1' max='5' step='1' value=model.impactTransportation}}
    </label>
    <label class="columns small-4 medium-2 left">
      Travel: {{input type='number' min='1' max='5' step='1' value=model.impactTravel}}
    </label>
    <label class="columns small-4 medium-2 left">
      Wellbeing: {{input type='number' min='1' max='5' step='1' value=model.impactWellbeing}}
    </label>
  </div>
  <h4>Readiness {{to-fixed 1 currentReadiness}}</h4>
  <div class="row">
    {{#each vectors as |vector|}}
      {{tech-question vector=vector action='setQuestion'}}
    {{else}}
      <div class="columns small-12">
        Loading readiness model...
      </div>
    {{/each}}
  </div>
  <button type='submit'>Save</button>
</form>
