<h3>{{model.name}}</h3>
<form {{action 'save' model on='submit'}}>
  <div class="row">
    <div class="columns small-12">
      <label>Name: {{input value=model.name}}</label>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-6">
      <label>
        Summary. Markdown supported.
        {{textarea value=model.summary rows='3'}}
      </label>
    </div>
    <div class="columns small-12 medium-6">
      <label>
        Description. Markdown supported.
        {{textarea value=model.description rows='9'}}
      </label>
    </div>
  </div>
  <h4>Impact</h4>
  <div class="row">
    <div class="columns small-4 medium-2 left">
      <label>Banking: {{input type='number' min='1' max='5' step='1' value=model.impactBanking}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Education: {{input type='number' min='1' max='5' step='1' value=model.impactEducation}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Entertainment: {{input type='number' min='1' max='5' step='1' value=model.impactEntertainment}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Food: {{input type='number' min='1' max='5' step='1' value=model.impactFood}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Housing: {{input type='number' min='1' max='5' step='1' value=model.impactHousing}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Media: {{input type='number' min='1' max='5' step='1' value=model.impactMedia}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Mobile: {{input type='number' min='1' max='5' step='1' value=model.impactMobile}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Policy: {{input type='number' min='1' max='5' step='1' value=model.impactPolicy}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Retail: {{input type='number' min='1' max='5' step='1' value=model.impactRetail}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Robotics: {{input type='number' min='1' max='5' step='1' value=model.impactRobotics}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Sustainability: {{input type='number' min='1' max='5' step='1' value=model.impactSustainability}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Transportation: {{input type='number' min='1' max='5' step='1' value=model.impactTransportation}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Travel: {{input type='number' min='1' max='5' step='1' value=model.impactTravel}}</label>
    </div>
    <div class="columns small-4 medium-2 left">
      <label>Wellbeing: {{input type='number' min='1' max='5' step='1' value=model.impactWellbeing}}</label>
    </div>
  </div>
  <h4>Readiness {{to-fixed 1 currentReadiness}}</h4>
  <div class="row">
    <div class="columns small-12 medium-6">
      <label>Question 1: {{input type='number' min='1' max='5' step='1' value=model.question0}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 2: {{input type='number' min='1' max='5' step='1' value=model.question1}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 3: {{input type='number' min='1' max='5' step='1' value=model.question2}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 4: {{input type='number' min='1' max='5' step='1' value=model.question3}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 5: {{input type='number' min='1' max='5' step='1' value=model.question4}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 6: {{input type='number' min='1' max='5' step='1' value=model.question5}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 7: {{input type='number' min='1' max='5' step='1' value=model.question6}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 8: {{input type='number' min='1' max='5' step='1' value=model.question7}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 9: {{input type='number' min='1' max='5' step='1' value=model.question8}}</label>
    </div>
    <div class="columns small-12 medium-6">
      <label>Question 10: {{input type='number' min='1' max='5' step='1' value=model.question9}}</label>
    </div>
  </div>
  <button type='submit'>Save</button>
</form>